AUTH_API_URL="http://auth:8080"
AUTH_TEST=false

LDAP_HOST="ldap.forumsys.com"
LDAP_PORT=389
LDAP_SSL=false
LDAP_BASE_DN="dc=example,dc=com"
LDAP_BIND_USER="cn=read-only-admin"
LDAP_BIND_PASSWORD="password"
LDAP_USER_DN="uid"
LDAP_USER_OBJECTCLASS="account" # itech: account ; forumsys: person
LDAP_ITECH_PROD=false

MAIL_SERVER=mail.example.com
MAIL_PORT=25
MAIL_USERNAME=email@example.com
MAIL_PASSWORD=password
MAIL_USE_TLS=false
MAIL_USE_SSL=false
MAIL_FROM=email@example.com

JWT_SECRET="please_please_update_me_please"
JWT_EXPIRE=600

FORWARDED_ALLOW_IPS="*"
